ibis-framework; python_version < "3.14"
langchain_core; python_version < "3.14"
numpy
polars
pyarrow
pyarrow_hotfix; python_version < "3.14"
pydantic
pyspark; python_version < "3.14"
pytest
ray; python_version < "3.14"
